.mainbody {
    position:sticky;
    top: 100px; /* Header Height */
    width: 100%;
    background-color: rgb(209, 207, 207);
    align-items: center ;
    text-align: center;
    scroll-behavior: smooth;
  }
  
  .mainbody h2 {
  
    padding: 40px;
    text-align: center;
  }
  
  .mainbody p {
    padding: 15px;
    text-align: start;
    height: auto;
  }
  .mainbody a {
    padding: 20px;
    text-align: center;

  }